<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

    <uses-feature android:name="android.hardware.vr.headtracking" android:required="false" android:version="1" />
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />

    <queries>
        <package android:name="com.oculus.browser" />
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.oculus.supportedDevices" android:value="quest2|questpro|quest3|quest3s|vrglasses" />
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />
        <meta-data android:name="horizonos.pwa.APP_MODE" android:value="2D" />
        <meta-data android:name="com.oculus.pwa.NAME" android:value="Rantlist" />
        <meta-data android:name="com.oculus.pwa.START_URL" android:value="https://rantlist.me/" />
        <meta-data android:name="com.oculus.pwa.SCOPE" android:value="https://rantlist.me/" />

        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <meta-data android:name="android.support.customtabs.trusted.DEFAULT_URL" android:value="@string/quest_twa_url" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.2D" />
            </intent-filter>
        </activity>
    </application>
</manifest>
